
  <div class="row">
    <div class="col-6">
      <div class="card">
        <a routerLink="/home">
        <div class="card-block">
          <h4 class="card-title">All</h4>
          <p class="card-text">{{allT.length}}</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <a routerLink="/listview/personal">
        <div class="card-block">
          <h4 class="card-title">Personal</h4>
          <p class="card-text">{{personal.length}}</p>
        </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <a routerLink="/listview/work">
        <div class="card-block">
          <h4 class="card-title">Work</h4>
          <p class="card-text">{{work.length}}</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <a routerLink="/listview/shopping">
        <div class="card-block">
          <h4 class="card-title">Shopping</h4>
          <p class="card-text">{{shopping.length}}</p>
        </div>
        </a>
      </div>
    </div>
  </div>
